.btn{
    width: 241px;
  height: 60px;
  background-color: #00c2f0;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  text-transform: uppercase;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.07);
  border: none;
  border-radius: 3px;
  color: $main-color;
}